.additional__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 35px;

  @media (--not-narrow-vp) {
    row-gap: 69px;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 245px;
    column-gap: 79px;
    row-gap: 80px;
  }
}

.additional__title {
  margin: 0;

  @media (--not-narrow-vp) {
    margin-bottom: 11px;
  }

  @media (--wide-vp) {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }
}

.additional__list {
  width: 100%;
  border: none;
  border-collapse: collapse;

  @media (--middle-vp) {
    border-right: 1px solid var(--border-color-darken);
    border-left: 1px solid var(--border-color-darken);
  }
}
