.banner {
  position: relative;

  @media (--wide-vp) {
    position: static;
  }

  &::before {
    --banner-gradient: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%);

    content: "";

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;

    display: block;
    width: 100%;
    height: 302px;

    background-color: var(--bg-color-accent);
    background-image: var(--banner-gradient), url("../../img/bg-banner-s@1x.jpg");
    background-position: center, right 101% center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: var(--banner-gradient), url("../../img/bg-banner-s@2x.jpg");
    }

    @media (--middle-vp) {
      display: none;
    }

    @media (--wide-vp) {
      top: 0;
      left: 50%;
      z-index: -1;

      width: 50%;
      height: 693px;

      background-image: var(--banner-gradient), url("../../img/bg-banner-l@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: var(--banner-gradient), url("../../img/bg-banner-l@2x.jpg");
      }
    }
  }
}

.banner__container {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--not-narrow-vp) {
    align-items: flex-start;
    background-image: none;
  }
}

.banner__content {
  padding-top: 27px;

  font-family: var(--accent-font);
  font-weight: 400;
  text-align: center;
  color: var(--text-color-contrast);

  @media (--not-narrow-vp) {
    width: 440px;
    margin-left: 87px;
    padding-top: 17px;

    text-align: left;
    color: var(--text-color-accent);
  }

  @media (--wide-vp) {
    margin-left: 80px;
    padding-top: 82px;
  }
}

.banner__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  color: inherit;

  @media (--not-narrow-vp) {
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
  }
}

.banner__text {
  margin-top: 0;
  margin-bottom: 29px;

  font-weight: inherit;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (--not-narrow-vp) {
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (--wide-vp) {
    margin-bottom: 52px;
  }
}

.banner__image {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--middle-vp) {
    z-index: -1;

    order: 1;
    width: 709px;
    align-self: center;
    margin-top: -83px;
  }

  @media (--wide-vp) {
    position: absolute;
    top: 0;
    right: 220px;
  }
}

.banner__picture {
  width: 100%;
  height: auto;
}

.banner__link {
  width: 100%;

  @media (--not-narrow-vp) {
    width: 244px;
    margin-left: 90px;
  }

  @media (--wide-vp) {
    margin-left: 80px;
    margin-bottom: 185px;
  }
}
