.button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  border: none;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-contrast);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: var(--bg-color-accent);
  cursor: pointer;

  &:hover {
    background-color: var(--bg-color-accent-bright);
  }

  &:active {
    color: rgba(#ffffff, 0.3);

    background-color: var(--bg-color-accent-bright);
  }

  &--size_wide {
    width: 100%;
  }

  &--color_gray {
    color: var(--text-color-main);
    background-color: var(--bg-color-lighten);

    &:hover {
      background-color: var(--bg-color-light);
    }

    &:active {
      color: rgba(#444444, 0.3);

      background-color: var(--bg-color-light);
    }
  }

  &--size_big {
    @media (--wide-vp) {
      height: 54px;
      padding: 17px 20px;

      font-size: 20px;
    }
  }
}
