.catalog-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (--not-narrow-vp) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 67px;
  }

  @media (--wide-vp) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 61px;
  }
}
