.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare__images {
  position: relative;

  display: grid;

  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  @media (--not-narrow-vp) {
    width: 592px;
    height: 511px;
    margin-bottom: 25px;
  }
}

.compare__image-container {
  width: 100%;

  @media (--not-narrow-vp) {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 50%;

    overflow: hidden;
  }

  &--before {
    @media (--not-narrow-vp) {
      left: 0;
    }
  }

  &--after {
    @media (--narrow-vp) {
      display: none;
    }

    @media (--not-narrow-vp) {
      right: 0;
    }
  }
}

.compare__image {
  grid-area: 1 / 1 / 2 / 2;
  place-content: center;
  width: 100%;
  height: 100%;

  overflow: hidden;

  @media (--not-narrow-vp) {
    width: 592px;
  }

  &--before {
    @media (--not-narrow-vp) {
      clip-path: inset(0 50% 0 0);
    }
  }

  &--after {
    @media (--narrow-vp) {
      display: none;
    }

    @media (--not-narrow-vp) {
      clip-path: inset(0 0 0 50%);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
