.form-input {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  &--type_email .form-input__field,
  &--type_phone .form-input__field {
    padding: 11px 40px 11px 14px;

    @media (--not-narrow-vp) {
      padding: 10px 40px 11px 20px;
    }
  }
}

.form-input__label {
  flex-shrink: 0;
  margin-right: 12px;

  @media (--not-narrow-vp) {
    margin-right: 17px;
  }
}

.form-input__field {
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 11px 17px;
  border: none;

  font: inherit;
  text-transform: uppercase;

  background-color: var(--bg-color-main);
  box-shadow: inset 0 0 0 1px var(--border-color-lighten);

  &[type="number"] {
    appearance: textfield;
  }

  @media (--not-narrow-vp) {
    padding: 11px 20px;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--border-color-darken);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--border-color-black);
    outline: none;

    & + .form-input__icon {
      background: var(--bg-color-accent);
    }
  }

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &--error {
    box-shadow: inset 0 0 0 2px var(--border-color-alert);

    & + .form-input__icon {
      background: var(--border-color-alert);
    }
  }
}

.form-input__icon {
  position: absolute;
  top: 50%;
  right: 14px;

  display: block;
  width: 20px;
  height: 20px;

  background-color: var(--text-color-dark);
  mask: var(--input-icon) no-repeat center / cover;

  transform: translateY(-50%);

  &--email {
    --input-icon: url("../../icons/sprite.svg#email");
  }

  &--phone {
    --input-icon: url("../../icons/sprite.svg#phone");
  }
}
