.form-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-input__label {
  flex-shrink: 0;
  margin-right: 10px;
}

.form-input__field {
  flex-grow: 1;
  padding: 14px;
  border: 2px solid var(--border-color-lighten);

  font: inherit;

  background-color: var(--bg-color-main);

  &::placeholder {
    color: inherit;
  }
}
