.form-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-dark);

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }
}

.form-radio__input {
  appearance: none;

  flex-shrink: 0;
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  margin: 0 15px 0 0;
  box-shadow: inset 0 0 0 1px var(--border-color-darken);

  border-radius: 50%;

  @media (--not-narrow-vp) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--border-color-darkest);
  }

  &::before {
    content: "";

    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;

    background-color: var(--bg-color-accent);
    transform: scale(0);

    @media (--not-narrow-vp) {
      width: 18px;
      height: 18px;
    }
  }

  &:checked::before {
    transform: scale(1);
  }
}
