.form-fieldset {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  border: none;

  &--text-inputs {
    row-gap: 13px;

    @media (--not-narrow-vp) {
      row-gap: 20px;
    }
  }

  &--radio {
    row-gap: 13px;
    padding: 23px 0 19px;

    @media (--narrow-vp) {
      position: relative;

      &::before,
      &::after {
        --fieldset-border-color: var(--border-color-dark);

        content: "";

        position: absolute;
        right: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 1px;

        background-color: var(--fieldset-border-color);
        box-shadow: 30px 0 0 0 var(--fieldset-border-color), -30px 0 0 0 var(--fieldset-border-color);
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    @media (--not-narrow-vp) {
      padding: 25px 28px;
      border: 1px solid var(--border-color-lighten);
    }
  }

  &--feedback {
    @media (--wide-vp) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 78px;
      row-gap: 0;
    }
  }

  &--checkbox {
    row-gap: 12px;

    @media (--not-narrow-vp) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
      row-gap: 32px;
    }

    @media (--wide-vp) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
      row-gap: 0;
    }
  }
}

.form-fieldset__legend {
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: 24px;
  padding: 0;

  @media (--middle-vp) {
    margin-right: -37px;
    margin-left: -37px;
  }

  @media (--not-narrow-vp) {
    margin-bottom: 76px;
  }

  &--comment {
    margin-bottom: 38px;

    @media (--not-narrow-vp) {
      margin-bottom: 75px;
    }
  }

  &--checkbox {
    margin-bottom: 22px;

    @media (--not-narrow-vp) {
      margin-bottom: 24px;
    }

    @media (--wide-vp) {
      margin-bottom: 54px;
    }
  }

  &--feedback {
    @media (--middle-vp) {
      margin-bottom: 56px;
    }
  }
}
