.logo {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  align-items: center;
  padding: 12px 0 16px;

  text-decoration: none;

  &[aria-current="page"] {
    pointer-events: none;
  }

  @media (--not-narrow-vp) {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 174px;
    height: 52px;
    padding: 0;
  }

  @media (--wide-vp) {
    width: 202px;
    height: 60px;
  }

  &--footer {
    display: flex;
    justify-content: center;
    padding: 39px 20px 32px;

    @media (--not-narrow-vp) {
      justify-content: flex-start;
      padding: 0;

      text-align: left;
    }
  }
}

.logo__image {
  @media (--not-narrow-vp) {
    margin-right: 12px;
  }
}

.logo__text {
  justify-self: center;
}
