.logo {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 0 16px;

  text-decoration: none;

  &[aria-current="page"] {
    pointer-events: none;
  }
}

.logo__image {
  margin-right: 56px;
}
