.main-header {
  @media (--not-narrow-vp) {
    padding-top: 29px;
    padding-bottom: 43px;
  }

  @media (--wide-vp) {
    padding-top: 53px;
    padding-bottom: 28px;
  }
}

.main-header__container {
  position: relative;

  @media (--not-narrow-vp) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.main-header__logo {
  flex-shrink: 0;
}

.main-header__nav {
  @media (--not-narrow-vp) {
    flex-grow: 1;
    padding-top: 18px;
  }
}
