.module-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 23px 20px 0;
  padding-bottom: 0;

  background-color: var(--bg-color-lighten);

  @media (--not-narrow-vp) {
    min-height: 372px;
    padding: 78px 314px 36px 53px;
  }

  @media (--wide-vp) {
    padding: 47px 50px 37px 52px;
  }
}

.module-card__content {
  @media (--narrow-vp) {
    border-bottom: 1px solid var(--border-color-dark);
  }
}

.module-card__title {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0 0 22px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--text-color-accent);

  @media (--middle-vp) {
    position: static;

    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (--wide-vp) {
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    --module-card-icon-size: 50px;

    content: "";

    flex-shrink: 0;
    display: block;
    width: var(--module-card-icon-size);
    height: var(--module-card-icon-size);
    margin-right: 18px;
    border-radius: 50%;

    background-color: var(--bg-color-accent);

    @media (--middle-vp) {
      --module-card-icon-size: 200px;

      position: absolute;
      top: 90px;
      right: 62px;

      margin-right: 0;
    }

    @media (--wide-vp) {
      --module-card-icon-size: 100px;

      margin-right: 62px;
    }
  }

  &::after {
    content: "";

    position: absolute;

    display: block;

    background: var(--text-color-accent);
    mask: var(--module-icon) no-repeat center / cover;
  }

  &--slim::after {
    --module-icon: url("../../icons/sprite.svg#cat-slim");

    top: -3px;
    left: 7px;

    width: 36px;
    height: 50px;

    @media (--middle-vp) {
      top: 81px;
      right: 92px;
      left: initial;

      width: 140px;
      height: 194px;
    }

    @media (--wide-vp) {
      top: -6px;
      left: 15px;

      width: 70px;
      height: 97px;
    }
  }

  &--pro::after {
    --module-icon: url("../../icons/sprite.svg#cat-pro");

    top: 11px;
    left: -10px;

    width: 67px;
    height: 28px;

    @media (--middle-vp) {
      top: 135px;
      right: 28px;
      left: initial;

      width: 268px;
      height: 112px;
    }

    @media (--wide-vp) {
      top: 20px;
      left: -19px;

      width: 134px;
      height: 56px;
    }
  }
}

.module-card__text {
  margin-top: 0;
  margin-bottom: 22px;

  font-family: var(--main-font);
  color: var(--text-color-main);

  @media (--not-narrow-vp) {
    margin-bottom: 32px;
  }

  @media (--wide-vp) {
    margin-bottom: 4px;
  }
}

.module-card__link {
  --decoration-icon: url("../../icons/sprite.svg#arrow");

  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0 21px;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color-accent);

  &:hover {
    opacity: 0.3;
  }

  &::after {
    content: "";

    display: block;
    width: 32px;
    height: 10px;
    margin-left: 17px;

    background: var(--text-color-accent);
    mask: var(--decoration-icon) no-repeat center / cover;
    mask-position: -8px;

    @media (--not-narrow-vp) {
      margin-left: 25px;
    }
  }

  &:hover::after {
    mask-position: 0;
  }

  @media (--not-narrow-vp) {
    margin-top: auto;
    border-top: none;

    font-size: 20px;
    line-height: 30px;
  }
}
