.modules {
  background-color: var(--bg-color-main);
}

.modules__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (--not-narrow-vp) {
    row-gap: 30px;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
