.page {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color-main);

  word-wrap: break-word;
  overflow-wrap: break-word;

  @media (--not-narrow-vp) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  --scrollbar: calc(100vw - 100%);

  margin: 0;
}

.page__header {
  background-color: var(--bg-color-main);
}

.page__centerer {
  --content-indent: calc(20px + (10vw - 32px) / 4.48);

  margin-inline: var(--content-indent) calc(var(--content-indent) - var(--scrollbar));

  @media (--narrow-vp) {
    --content-indent: calc(20px + (10vw - 32px) / 4.48);
  }

  @media (--middle-vp) {
    --content-indent: 30px;
  }

  @media (--wide-vp) {
    margin: 0 auto;

    width: 1220px;
  }
}

.page__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
