.page {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color-main);

  word-wrap: break-word;
  overflow-wrap: break-word;

  @media (--not-narrow-vp) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  --scrollbar: calc(100vw - 100%);

  margin: 0;
}

.page__centerer {
  --content-indent: calc(20px + (10vw - 32px) / 4.48);

  margin-inline: var(--content-indent) calc(var(--content-indent) - var(--scrollbar));

  @media (--narrow-vp) {
    --content-indent: calc(20px + (10vw - 32px) / 4.48);
  }

  @media (--middle-vp) {
    --content-indent: 30px;
  }

  @media (--wide-vp) {
    margin: 0 auto;

    width: 1220px;
  }
}

.page__title {
  margin-bottom: 4px;

  @media (--not-narrow-vp) {
    margin-bottom: 28px;
  }

  &--subtitled {
    margin-bottom: 2px;

    @media (--not-narrow-vp) {
      margin-bottom: 0;
    }

    @media (--middle-vp) {
      padding: 0 40px;
    }
  }
}

.page__banner {
  margin-bottom: 20px;

  @media (--not-narrow-vp) {
    margin-bottom: 0;
  }

  @media (--wide-vp) {
    margin-bottom: 82px;
  }
}

.page__modules {
  margin-bottom: 20px;

  @media (--not-narrow-vp) {
    margin-bottom: 45px;
  }

  @media (--wide-vp) {
    margin-bottom: 82px;
  }
}

.page__catalog {
  margin-bottom: 25px;

  @media (--not-narrow-vp) {
    margin-bottom: 68px;
  }

  @media (--wide-vp) {
    margin-bottom: 76px;
  }
}

.page__additional {
  margin-bottom: 35px;

  @media (--not-narrow-vp) {
    margin-bottom: 76px;
  }

  @media (--wide-vp) {
    margin-bottom: 86px;
  }
}

.page__brief {
  margin-bottom: 32px;

  @media (--not-narrow-vp) {
    margin-bottom: 72px;
  }

  @media (--wide-vp) {
    margin-bottom: 82px;
  }
}

.page__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
