.page-title {
  padding-top: 27px;

  font-family: var(--accent-font);
  color: var(--text-color-accent);

  @media (--not-narrow-vp) {
    padding-top: 17px;
  }

  @media (--wide-vp) {
    padding-top: 46px;
  }

  &--subtitled {
    margin-bottom: 2px;

    @media (--not-narrow-vp) {
      margin-bottom: 0;
      padding-top: 17px;
    }

    @media (--middle-vp) {
      padding-right: 40px;
      padding-left: 40px;
    }

    @media (--wide-vp) {
      padding-top: 47px;
    }
  }
}

.page-title__header {
  margin-top: 0;
  margin-bottom: 41px;

  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (--not-narrow-vp) {
    margin-bottom: 54px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (--wide-vp) {
    margin-bottom: 56px;
  }
}

.page-title__text {
  margin-top: 0;
  margin-bottom: 36px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (--not-narrow-vp) {
    max-width: 330px;
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }
}
