.section-title {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  color: var(--text-color-accent);

  @media (--not-narrow-vp) {
    font-size: 36px;
    line-height: 36px;
  }
}

.section-title__text {
  display: inline-block;
  width: fit-content;

  &--decoration {
    --air-gap: 22px;
    --top-offset: 15px;
    --line-color: var(--bg-color-accent);

    position: relative;

    @media (--not-narrow-vp) {
      --top-offset: 22px;
    }

    &::before {

      content: "";

      position: absolute;
      top: var(--top-offset);
      right: calc(100% + var(--air-gap));

      display: block;
      width: calc(100vw - 100% - var(--air-gap));
      height: 2px;

      background-color: var(--line-color);
      box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--line-color);
    }
  }
}
