.section-title {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  color: var(--text-color-accent);

  @media (--not-narrow-vp) {
    font-size: 60px;
    line-height: 60px;
  }
}

.section-title__text {
  --air-gap: 22px;
  --top-offset: 15px;
  --line-color: var(--bg-color-accent);

  display: inline-block;
  width: fit-content;

  &--decoration {

    position: relative;

    font-size: 24px;
    line-height: 24px;

    @media (--not-narrow-vp) {
      --air-gap: 37px;
      --top-offset: 22px;

      margin-left: var(--air-gap);

      font-size: 36px;
      line-height: 36px;
    }

    @media (--wide-vp) {
      margin-left: 0;
    }

    &::before {

      content: "";

      position: absolute;
      top: var(--top-offset);
      right: calc(100% + var(--air-gap));

      display: block;
      width: calc(100vw - 100% - var(--air-gap));
      height: 2px;

      background-color: var(--line-color);
      box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--line-color);
    }
  }

  &--line {
    @media (--narrow-vp) {
      width: 182px;
    }
  }
}
