.social {
  padding: 10px 20px;

  @media (--not-narrow-vp) {
    padding: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__item {
  margin: 10px 15px;

  @media (--not-narrow-vp) {
    margin: 10px;
  }
}

.social__link {
  --icon-width: 21px;

  display: grid;
  width: var(--icon-width);
  height: var(--icon-width);

  @media (--not-narrow-vp) {
    --icon-width: 30px;
  }

  &:hover::before {
    background: var(--bg-color-accent);
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";

    grid-area: 1 / 1 / 2 / 2;
    display: block;
    width: var(--icon-width);
    height: var(--icon-width);

    background: var(--text-color-light);
    mask: var(--icon-path) no-repeat center / cover;
  }

  &--vk {
    --icon-path: url("../../icons/sprite.svg#vk");
  }

  &--insta {
    --icon-path: url("../../icons/sprite.svg#instagram");
  }

  &--fb {
    --icon-path: url("../../icons/sprite.svg#facebook");
  }
}
