.social {
  padding: 20px;

  @media (--not-narrow-vp) {
    padding: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__item {
  margin: 10px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;

  background: var(--text-color-light);
  mask: var(--social-icon) no-repeat center / cover;

  &:hover {
    background: var(--bg-color-accent);
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    --social-icon: url("../../icons/sprite.svg#vk");
  }

  &--insta {
    --social-icon: url("../../icons/sprite.svg#instagram");
  }

  &--fb {
    --social-icon: url("../../icons/sprite.svg#facebook");
  }
}
