<tr class="additional__item additional-item">
  <th class="additional-item__title" scope="row">{{ additionalItem.title }}</th>
  <td class="additional-item__count">{{ additionalItem.packaging }}</td>
  <td class="additional-item__price">{{ additionalItem.price }}&nbsp;Р.</td>
  <td class="additional-item__order">
    <a class="additional-item__button button button--size_wide" href="#">Заказать</a>
  </td>
</tr>
