<section class="contact">
  <div class="contact__container page__centerer">
    <div class="contact__content
    {% if pageId != 0 %}
      contact__content--inner
    {% endif %}
    ">
      <h2 class="contact__title">Приглашаем к сотрудничеству дилеров!</h2>
      <div class="contact__address">
        <p class="contact__place">ул. Большая Конюшенная, д. 19/8</p>
        <p class="contact__city">Санкт-Петербург</p>
      </div>
    </div>
  </div>
  <div class="contact__map"></div>
</section>
