<section class="contact">
  <div class="contact__container page__centerer">
    <div class="contact__content
    {% if pageId != 0 %}
      contact__content--inner
    {% endif %}
    ">
      <h2 class="contact__title">Приглашаем к&nbsp;сотрудничеству дилеров!</h2>
      <div class="contact__address">
        <p class="contact__place">ул. Большая Конюшенная, д. 19/8</p>
        <p class="contact__city">Санкт-Петербург</p>
      </div>
    </div>
  </div>
  <div class="contact__map">
    <noscript>

      {{ macros.picture(
        "contact__map-img",
        "img/",
        "map",
        "jpg",
        "Офис «Кэт енерджи» на карте.",
        null,
        null,
        true,
        true
      ) }}

    </noscript>
    <iframe class="contact__map-interactive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253003213!2d30.320858716185526!3d59.938719169053996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1643479872532!5m2!1sru!2sru" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>
