<footer class="page__footer main-footer">
  <div class="main-footer__container page__centerer">
    <a class="main-footer__logo logo" href="#" aria-current="page" aria-label="Логотип «Кэт энерджи».">
      <img  class="logo__text" src="img/logo-text.svg" width="101" height="18" alt="">
    </a>

    {% include "socials.njk" %}

    <a class="main-footer__creators creators" href="https://htmlacademy.ru/" rel="noopener nofollow" target="_blank">
      <span class="creators__text">HTML Academy</span>
    </a>
  </div>
</footer>
