<header class="page__header main-header">
  <div class="main-header__container page__centerer">
    <a class="main-header__logo logo logo--header" href="index.html"
      {% if permalink == pages[0].path %}
        aria-current="page"
      {% endif %}
    aria-label="Логотип «Кэт энерджи».">
      <picture>
        <source media="(min-width: 1280px)" srcset="img/logo-cat-energy.svg#desktop">
        <source media="(min-width: 768px)" srcset="img/logo-cat-energy.svg#tablet">
        <img class="logo__image" src="img/logo-cat-energy.svg#mobile" width="34" height="38" alt="">
      </picture>
      <picture>
        <source media="(min-width: 768px)" srcset="img/logo-cat-energy.svg#logo-text-main">
        <img class="logo__text" src="img/logo-cat-energy.svg#logo-text-additional" width="101" height="18" alt="">
      </picture>
    </a>
    <nav class="main-header__nav main-nav main-nav--no-js
    {% if pageId == 0 %}
      main-nav--index
    {% endif %}
    ">
      <button class="main-nav__toggler" type="button" hidden>
        <span class="page__hidden">Открыть меню</span>
      </button>
      <ul class="main-nav__list">
        {% for page in pages %}
          <li class="main-nav__item">
            <a
              class="main-nav__link"
              href="{{ page.path }}"
              {% if permalink == page.path %}
                aria-current="page"
              {% endif %}
            >{{ page.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
