<header class="page__header main-header">
  <div class="main-header__container page__centerer">
    <a class="main-header__logo logo" href="index.html"
      {% if permalink == pages[0].path %}
        aria-current="page"
      {% endif %}
    aria-label="Логотип «Кэт энерджи».">
      <img class="logo__image" src="img/logo-mobile.svg" width="34" height="38" alt="">
      <img class="logo__text" src="img/logo-text.svg" width="101" height="18" alt="">
    </a>
    <nav class="main-header__nav main-nav main-nav--no-js
    {% if pageId == 0 %}
      main-nav--index
    {% endif %}
    ">
      <button class="main-nav__toggler" type="button" hidden>
        <span class="page__hidden">Открыть меню</span>
      </button>
      <ul class="main-nav__list">
        {% for page in pages %}
          <li class="main-nav__item">
            <a
              class="main-nav__link"
              href="{{ page.path }}"
              {% if permalink == page.path %}
                aria-current="page"
              {% endif %}
            >{{ page.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
