<header class="page__header main-header">
  <div class="main-header__container page__centerer">
    <a class="main-header__logo logo" href="index.html"
      {% if permalink == pages[0].path %}
        aria-current="page"
      {% endif %}
    aria-label="Логотип «Кэт энерджи».">
      <img class="logo__image" src="img/logo-mobile.svg" width="34" height="38" alt="">
      <img class="logo__text" src="img/logo-text.svg" width="101" height="18" alt="">
    </a>
    <nav class="main-header__nav main-nav main-nav--closed">
      <button class="main-nav__toggler" type="button" hidden>Открыть меню</button>
      <ul class="main-nav__list">
        {% for page in pages %}
          <li class="main-nav__item">
            <a
              class="main-nav__link"
              href="{{ page.path }}"
              {% if permalink == page.path %}
                aria-current="page"
              {% endif %}
            >{{ page.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <h1 class="page__hidden">«Кэт энерджи» — интернет-магазин, который поможет подобрать и заказать питание для вашего кота.</h1>
  <section class="banner">
    <div class="banner__container page__centerer">
      <div class="banner__content">
        <h2 class="banner__title section-title">Функциональное питание для&nbsp;котов</h2>
        <p class="banner__text">Занялся собой? Займись котом!</p>
      </div>
      <div class="banner__image">
        <img src="img/banner-image.png" width="280" height="270" alt="«Кэт енерджи ПРО» с курицей.">
      </div>
      <a class="banner__link button button--size_wide" href="#">Подобрать программу</a>
    </div>
  </section>
</header>
