{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/layout.twig" %}
{%- import "./templates/picture.twig" as macros -%}

{% block page__main %}

<main class="page__main">
  <div class="page__centerer page__title page-title">
    <h1 class="page-title__header">Каталог продукции</h1>
  </div>
  <section class="page__catalog catalog">
    <div class="page__centerer">
      <h2 class="page__hidden">Основные товары</h2>
      <table class="catalog__list catalog-list">
        <tbody class="catalog-list__body">
          <tr class="page__hidden">
            <th scope="col">Название товара</th>
            <th scope="col">Изображение товара</th>
            <th scope="col">Масса</th>
            <th scope="col">Вкус</th>
            <th scope="col">Цена</th>
            <th scope="col">Заказ</th>
          </tr>

          {% for catalogItem in catalogItems %}
            {% include "./templates/catalog-item.twig" %}
          {% endfor %}

          <tr class="catalog-list__item catalog-all">
            <td class="catalog-all__content" colspan="6">
              <p class="catalog-all__title">Показать еще 100500 товаров</p>
              <p class="catalog-all__text">На самом деле вкусов гораздо больше!</p>
              <a class="catalog-all__button button button--size_wide button--color_gray" href="#">Показать все</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="page__additional additional">
    <div class="additional__container page__centerer">
      <h2 class="additional__title section-title section-title--decoration">Дополнительные товары</h2>
      <table class="additional__list">
        <tr class="page__hidden">
          <th scope="col">Название товара</th>
          <th scope="col">Количество</th>
          <th scope="col">Цена</th>
          <th scope="col">Заказ</th>
        </tr>

        {% for additionalItem in additionalItems %}
          {% include "./templates/additional-item.twig" %}
        {% endfor %}

      </table>
      <a href="#" class="additional__order-all additional-all">
        <span class="additional-all__text">Закажите все и&nbsp;получите чехол для кота в&nbsp;подарок!</span>
      </a>
    </div>
  </section>

  {% include "./templates/contact.twig" %}

</main>

{% endblock %}
