{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/layout.twig" %}
{%- import "./templates/picture.twig" as macros -%}

{% block page__main %}

<main class="page__main">
  <div class="page__centerer page__title page-title">
    <h1 class="page-title__header">Каталог продукции</h1>
  </div>
  <section class="page__catalog">
    <div class="page__centerer">
      <h2 class="page__hidden">Основные товары</h2>
      <ul class="catalog-list">

        {% for catalogItem in catalogItems %}
          {% include "./templates/catalog-item.twig" %}
        {% endfor %}

        <li class="catalog-list__item catalog-all">
          <p class="catalog-all__title">Показать еще 100500 товаров</p>
          <p class="catalog-all__text">На самом деле вкусов гораздо больше!</p>
          <a class="catalog-all__button button button--size_wide button--color_gray" href="#">Показать все</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="page__additional additional">
    <div class="additional__container page__centerer">
      <h2 class="additional__title section-title">
        <span class="section-title__text section-title__text--decoration">Дополнительные товары</span>
      </h2>
      <ul class="additional__list">

        {% for additionalItem in additionalItems %}
          {% include "./templates/additional-item.twig" %}
        {% endfor %}

      </ul>
      <a href="#" class="additional__order-all additional-all">
        <span class="additional-all__text">Закажите все и&nbsp;получите чехол&nbsp;для кота в&nbsp;подарок!</span>
      </a>
    </div>
  </section>

  {% include "./templates/contact.twig" %}

</main>

{% endblock %}
