{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/layout.twig" %}

{% block page__main %}

<main class="page__main">
  <div class="page__centerer page__title page__title page-title page-title--subtitled">
    <h1 class="page-title__header">Подбор программы</h1>
    <p class="page-title__text">Заполните анкету, и мы подберем программу&nbsp;питания для вашего кота</p>
  </div>
  <section class="page__brief brief">
    <div class="page__centerer">
      <h2 class="page__hidden">Анкета</h2>
      <form class="brief__form form" action="https://echo.htmlacademy.ru/" method="post">
        <div class="form__fieldset form__fieldset--text-inputs form-fieldset form-fieldset--text-inputs" role="group" aria-labelledby="brief_cat_info">
          <div class="page__hidden" id="brief_cat_info">Расскажите о своём коте</div>
          <div class="form__field form-input">
            <label class="form-input__label" for="brief_cat_name">Имя:*</label>
            <input class="form-input__field" id="brief_cat_name" type="text" name="brief_cat_name" placeholder="Барсик" required>
          </div>
          <div class="form__field form-input">
            <label class="form-input__label" for="brief_cat_weight">Вес (кг):*</label>
            <input class="form-input__field" id="brief_cat_weight" type="number" name="brief_cat_weight" placeholder="7" required>
          </div>
          <div class="form__field form-input">
            <label class="form-input__label" for="brief_cat_age">Возраст (лет):</label>
            <input class="form-input__field" id="brief_cat_age" type="number" name="brief_cat_age" placeholder="7">
          </div>
        </div>
        <div class="form__fieldset form__fieldset--radio form-fieldset form-fieldset--radio" role="group" aria-labelledby="brief_programm_type">
          <div class="page__hidden" id="brief_programm_type">Тип программы</div>
          <label class="form__field form-radio" for="brief_type_slim">
            <input class="form-radio__input" id="brief_type_slim" type="radio" name="brief_type" value="slim" checked>
            Похудение
          </label>
          <label class="form__field form-radio" for="brief_type_weight">
            <input class="form-radio__input" id="brief_type_weight" type="radio" name="brief_type" value="weight">
            Набор массы
          </label>
          <label class="form__field form-radio" for="brief_type_advice">
            <input class="form-radio__input" id="brief_type_advice" type="radio" name="brief_type" value="advice">
            Не знаю (нужен ваш совет)
          </label>
        </div>
        <div class="form__fieldset form__fieldset--feedback form-fieldset form-fieldset--text-inputs form-fieldset--feedback" role="group" aria-labelledby="brief_cat_owner">
          <div class="form-fieldset__legend form-fieldset__legend--feedback section-title" id="brief_cat_owner">
            <div class="section-title__text section-title__text--decoration  section-title__text--line">Контактные&nbsp;данные (владельца&nbsp;кота)</div>
          </div>
          <div class="form__field form-input form-input--type_email">
            <label class="form-input__label" for="brief_owner_email">E-mail:*</label>
            <input class="form-input__field" id="brief_owner_email" type="email" name="brief_owner_email" placeholder="kuklachev@gmail.com" required>
            <span class="form-input__icon form-input__icon--email"></span>
          </div>
          <div class="form__field form-input form-input--type_phone">
            <label class="form-input__label" for="brief_owner_phone">Телефон:*</label>
            <input class="form-input__field" id="brief_owner_phone" type="tel" name="brief_owner_phone" placeholder="8 (960) 900-60-90" required>
            <span class="form-input__icon form-input__icon--phone"></span>
          </div>
        </div>
        <div class="form__fieldset form__fieldset--comment form-fieldset form-textarea">
          <label class="form-fieldset__legend form-fieldset__legend--comment section-title" for="brief_comment">
            <span class="section-title__text section-title__text--decoration">Комментарий</span>
          </label>
          <textarea class="form-textarea__field" id="brief_comment" name="brief_comment" cols="30" rows="10" placeholder="Расскажите обо всех повадках кота"></textarea>
        </div>
        <div class="form__fieldset form__fieldset--checkbox form-fieldset form-fieldset--checkbox" role="group" aria-labelledby="brief_add_info">
          <div class="form-fieldset__legend form-fieldset__legend--checkbox section-title" id="brief_add_info">
            <div class="section-title__text section-title__text--decoration">Дополнительно</div>
          </div>
          <label class="form__field form-checkbox" for="brief_additional_shugar_substitute">
            <input class="form-checkbox__input" id="brief_additional_shugar_substitute" type="checkbox" name="brief_additional" value="shugar_substitute" checked>
            Сахарозаменитель
          </label>
          <label class="form__field form-checkbox" for="brief_additional_water">
            <input class="form-checkbox__input" id="brief_additional_water" type="checkbox" name="brief_additional" value="water">
            Питьевая вода
          </label>
          <label class="form__field form-checkbox" for="brief_additional_milk">
            <input class="form-checkbox__input" id="brief_additional_milk" type="checkbox" name="brief_additional" value="milk">
            Молоко
          </label>
          <label class="form__field form-checkbox" for="brief_additional_vitamins">
            <input class="form-checkbox__input" id="brief_additional_vitamins" type="checkbox" name="brief_additional" value="vitamins">
            Витамины
          </label>
        </div>
        <div class="form__action">
          <button class="form__submit button button--size_wide" type="submit">Отправить заявку</button>
          <p class="form__notice">* — Обязательные поля</p>
        </div>
      </form>
    </div>
  </section>

  {% include "./templates/contact.twig" %}

</main>

{% endblock %}
