{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "head.njk" %}

<body class="page__body">
  {% include "header.njk" %}

    <main class="page__main">
      <h1 class="page__hidden">«Кэт энерджи» — интернет-магазин, который поможет подобрать и заказать питание для вашего кота.</h1>
      <section class="banner">
        <div class="banner__container page__centerer">
          <div class="banner__content">
            <h2 class="banner__title section-title">Функциональное питание для котов</h2>
            <p class="banner__text">Занялся собой? Займись котом!</p>
          </div>
          <div class="banner__image">
            <img src="img/banner-image.png" width="280" height="270" alt="«Кэт енерджи ПРО» с курицей.">
          </div>
          <a class="banner__link button button--size_wide" href="#">Подобрать программу</a>
        </div>
      </section>
      <section class="modules">
        <div class="modules__container page__centerer">
          <h2 class="page__hidden">Виды программ</h2>
          <div class="modules__item module-card">
            <h3 class="module-card__title">Похудение</h3>
            <p class="module-card__text">Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</p>
            <a class="module-card__link" href="#">Каталог Slim</a>
          </div>
          <div class="modules__item module-card">
            <h3 class="module-card__title">Набор массы</h3>
            <p class="module-card__text">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
            <a class="module-card__link" href="#">Каталог Pro</a>
          </div>
          </div>
        </div>
      </section>
      <section class="features">
        <div class="features__container page__centerer">
          <h2 class="features__title section-title">Как это работает</h2>
          <ol class="features__list">
            <li class="features__item features__item--icon_leaf">
              <p class="features__text">Функциональное питание содержит только полезные питательные вещества.</p>
            </li>
            <li class="features__item features__item--icon_drink">
              <p class="features__text">Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</p>
            </li>
            <li class="features__item features__item--icon_food">
              <p class="features__text">Замените один-два приема обычной еды на наше функциональное питание.</p>
            </li>
            <li class="features__item features__item--icon_weight">
              <p class="features__text">Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!</p>
            </li>
          </ol>
        </div>
      </section>
      <section class="result">
        <div class="result__container page__centerer">
          <div class="result__content">
            <h2 class="result__title section-title">Живой пример</h2>
            <div class="result__text">
              <p>Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.</p>
            </div>
            <dl class="result__list">
              <div class="result__item result-metric result-metric--bordered">
                <dt class="result-metric__name">Снижение веса</dt>
                <dd class="result-metric__count">5 кг</dd>
              </div>
              <div class="result__item result-metric result-metric--bordered">
                <dt class="result-metric__name">Затрачено времени</dt>
                <dd class="result-metric__count">60 дней</dd>
              </div>
              <div class="result__item result-metric result-metric--texted">
                <dt class="result-metric__name">Затраты на питание</dt>
                <dd class="result-metric__count"> 15&nbsp;000&nbsp;руб.</dd>
              </div>
            </dl>
          </div>
          <div class="result__compare compare">
            <figure class="compare__images">
              <figcaption class="page__hidden">Сравнение внешнего вида кота до и после похудения</figcaption>
              <div class="compare__image compare__image--before">
                <img src="img/cat-fat.png" width="677" height="520" alt="Кот до похудения.">
              </div>
              <div class="compare__image compare__image--after">
                <img src="img/cat-skinny.png" width="545" height="520" alt="Кот после похудения.">
              </div>
            </figure>
            <div class="compare__control compare-toggler" hidden>
              <div class="compare-toggler__title compare-toggler__title--before">Было</div>
              <button class="compare-toggler__button compare-toggler__button--left" type="button">
                <span class="page__hidden">Сравнить</span>
              </button>
              <div class="compare-toggler__title compare-toggler__title--after">Стало</div>
            </div>
          </div>
        </div>
      </section>
      <section class="contact">
        <div class="contact__container page__centerer">
          <div class="contact__content">
            <h2 class="contact__title">Приглашаем к сотрудничеству дилеров!</h2>
            <div class="contact__address">
              <p class="contact__place">ул. Большая Конюшенная, д. 19/8</p>
              <p class="contact__city">Санкт-Петербург</p>
            </div>
          </div>
          <div class="contact__map"></div>
        </div>
      </section>
    </main>

  {% include "footer.njk" %}
  </body>
</html>
